<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="username" value="required;email"/>
		<add key="password" value="required"/>
		<add key="urlSite" value="required;url"/>
		<add key="templateName" value="required"/>
		<add key="dirTemplate" value=""/>
		
		<add key="mainFolder" value="provision"/>
		<add key="mainExtension" value=".xml"/>
	</appSettings>
</configuration>